* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#0f0c29, #302b63, #24243e);
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .wrapper {
  height: 94%;
  min-height: 80%;
  width: 30vw;
  overflow-y: auto;
  border-radius: 15px;
  scroll-snap-type: y mandatory;
}
main .wrapper .card {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}
main .wrapper .card .reel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
main .wrapper .card .reel .video {
  position: absolute;
  height: 100%;
  width: 100%;
}
main .wrapper .card .reel .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .wrapper .card .reel .btm {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 19vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(99, 99, 99, 0.751));
}
main .wrapper .card .reel .btm .btm-top {
  display: flex;
  align-items: center;
  gap: 1.3vh;
  padding: 3vh;
}
main .wrapper .card .reel .btm .btm-top img {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
}
main .wrapper .card .reel .btm .btm-top h3 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 2.9vh;
}
main .wrapper .card .reel .btm .btm-top button {
  padding: 0.9vh 2vh;
  border: none;
  border-radius: 20px;
}
main .wrapper .card .reel .btm p {
  margin-left: 3vh;
  font-size: 2.2vh;
  width: 81%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
main .wrapper .card .reel .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  right: 0%;
  top: 51%;
  gap: 2vh;
  padding: 2vh;
}
main .wrapper .card .reel .icons .like,
main .wrapper .card .reel .icons .comment,
main .wrapper .card .reel .icons .share,
main .wrapper .card .reel .icons .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .wrapper .card .reel .icons .like i,
main .wrapper .card .reel .icons .comment i,
main .wrapper .card .reel .icons .share i,
main .wrapper .card .reel .icons .menu i {
  padding: 1.4vh;
  background-color: #24243e;
  border-radius: 50%;
  font-size: 2.8vh;
  color: #cfcee0;
  font-weight: 200;
  pointer-events: none;
}
main .wrapper .card .reel .icons .like h3,
main .wrapper .card .reel .icons .comment h3,
main .wrapper .card .reel .icons .share h3,
main .wrapper .card .reel .icons .menu h3 {
  pointer-events: none;
  color: white;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 720px) {
  main .wrapper {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  main .wrapper .card .reel .btm {
    height: 20vh;
  }
  main .wrapper .card .reel .btm .btm-top {
    gap: 1.5vh;
  }
  main .wrapper .card .reel .btm .btm-top img {
    height: 5vh;
    width: 5vh;
  }
  main .wrapper .card .reel .btm .btm-top h3 {
    font-size: 2vh;
  }
  main .wrapper .card .reel .btm p {
    font-size: 2vh;
  }
}/*# sourceMappingURL=style.css.map */