* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#0f0c29, #302b63,#24243e);
}

::-webkit-scrollbar {
    display: none;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .wrapper {
        height: 94%;
        min-height: 80%;
        width: 30vw;
        overflow-y: auto;
        border-radius: 15px;
        scroll-snap-type: y mandatory;

        .card {
            height: 100%;
            scroll-snap-align: start;
            position: relative;

            .reel {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background: #000;

                .video {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    video {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .btm {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 0;
                    height: 19vh;
                    width: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0),
                            rgba(99, 99, 99, 0.751));

                    .btm-top {
                        display: flex;
                        align-items: center;
                        gap: 2.6vh;
                        padding: 3vh;

                        img {
                            height: 4.5vh;
                            width: 4.5vh;
                            border-radius: 50%;
                        }

                        h3 {
                            color: white;
                            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                                sans-serif;
                            font-weight: 500;
                            font-size: 2.9vh;
                        }

                        button {
                            padding: 0.9vh 2vh;
                            border: none;
                            border-radius: 20px;
                        }
                    }

                    p {
                        margin-top: 1vh;
                        margin-left: 3vh;
                        font-size: 2.2vh;
                        width: 85%;
                        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                            sans-serif;
                        color: white;
                    }
                }

                .icons {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    z-index: 999;
                    right: 0%;
                    top: 51%;
                    gap: 2vh;
                    padding: 2vh;

                    .like,
                    .comment,
                    .share,
                    .menu {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        i {
                            padding: 1.4vh;
                            background-color: #5e5e5e;
                            border-radius: 50%;
                            font-size: 2.6vh;
                            color: white;
                            font-weight: 200;
                        }

                        h3 {
                            color: white;
                            font-weight: 400;
                            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    main {
        .wrapper {
            height: 100%;
            width: 100%;
            border-radius: 0;

            .card {
                .reel {
                    .btm {
                        height: 20vh;

                        .btm-top {
                            gap: 1.5vh;

                            img {
                                height: 5vh;
                                width: 5vh;
                            }

                            h3 {
                                font-size: 2vh;
                            }
                        }

                        p {
                            font-size: 2vh;
                        }
                    }
                }
            }
        }
    }
}